<div class="app-container">
  <header>
    <div class="logo-container">
      <img src="assets/header-logo.png" alt="Twin Cities Veg Fest" class="header-logo">

      <h2> Exhibitor & Sponsor Signup</h2>
    </div>
    <app-role-switcher></app-role-switcher>
  </header>

  <main>
    <ng-container [ngSwitch]="authService.currentRole$ | async">
      <app-admin-dashboard *ngSwitchCase="'ADMIN'"></app-admin-dashboard>
      <app-web-admin-dashboard *ngSwitchCase="'WEB_ADMIN'"></app-web-admin-dashboard>
      <app-signup-form *ngSwitchDefault></app-signup-form>
    </ng-container>
  </main>
</div>